<br><br>
<footer class="bg-black small text-center text-white-50">

        <div class="container">
          <div class="row">
            <font size="5px", color="white">Información</font>
            </div>

            <div class="row">
              <font size="4px"> <a href="/about">Nosotros</a></font>
            </div>

            <div class="row">
                <font size="4px"> <a href="/politics">Politicas</a></font>
            </div>
              <div class="row">
                <font size="4px"> <a href="/terms">Términos y condiciones</a></font>
            </div>
        </div>
        <div class="container">

          <div class="col">
            <font size="5px" color="white">Redes sociales</font>
          </div>
          <div class="col">
            <div style="font-size: 32px;">

              <a href="http://www.facebook.com/"><i class="fab fa-facebook"></i></a>
              <a href="http://www.twitter.com/"><i class="fab fa-twitter-square" size="500"></i></a>
              <a href="https://mail.google.com"><i class="fab fa-google"></i></a>
            </div>
            <br/>
          </div>
        </div>
      </footer>


    <script>
      $(document).ready(function() {
        $('.carousel').carousel({interval: 7000});

        if($("body").height() < $(window).height()){
          $("footer").css({"position":"absolute","border": "0px"});
        }
      });
    </script>
</body>
</html>
