<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
        <!-- Bootstrap core CSS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/5.0.4/css/grayscale.min.css" rel="stylesheet">

        <link rel="stylesheet" href="styles.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>D2 Store</title>
    </head>
    <body>
    <script>
      const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000
            });
    </script>
        <!-- Header -->
        <nav class="navbar navbar-light bg-light" style="padding: 1em">
          <a class="navbar-brand" href="https://www.google.com.mx/maps/place/C.E.T.i.s.+No.+155+%22Josefa+Ortiz+de+Dominguez%22/@21.8688772,-102.2713347,18z/data=!4m5!3m4!1s0x8429ede3d3afee29:0xca4d5899cecc07aa!8m2!3d21.8693309!4d-102.2714811">Encuentranos <i class="fas fa-map-marker-alt"></i></a>

          <center><h3>Insta Pix</h3></center>
          <form class="form-inline">
              <div id="tag1"></div>
              <div id="tag" style="margin-left: 1em;"></div>
              
               <!--div class="dropdown">
                <a class="dropdown-toggle" id="dropdownCarrito" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-shopping-cart fa-2x"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownCarrito">
                <div class="card" style="width: 18rem;">
                <div class="card-header">Carrito de compras</div>
                  <ul class="list-group list-group-flush" id="productos">
                    <li class="list-group-item">Camara fotografica  150$</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-footer text-muted">
                    <center><button class="btn btn-success">Comprar</button></center>
                </div>
                </div>
              </div>            -->

              <script>
                if(localStorage.getItem('user') != null){
                  var total = 0
                  var productos = ""
                  var lista = JSON.parse(localStorage.getItem('Usuario'))
                  
                  for(var i = 0; i< lista.Carrio.length; i++){
                    total = total + lista.Carrio[i].Precio_Min
                    productos = productos + '<li><span class="item"><span class="item-left"><span class="item-info"><span>' + lista.Carrio[i].Nombre + '</span><span>'+ lista.Carrio[i].Precio_Min +' $</span></span></span><span class="item-right"><a onclick="eliminar('+ i +')" >X</a></span></span></li>'
                  }
                  localStorage.setItem('Total', total)

                  productos = productos + '<li class="list-group-item">Subtotal: '+total+'$</li>'
                  document.getElementById('tag').innerHTML = '<div class="dropdown"><a class="dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-2x"></i></a><div class="dropdown-menu" aria-labelledby="dropdownUser"><a class="dropdown-item" onclick="logout()">Cerrar sesion</a></div></div>'


                  document.getElementById('tag1').innerHTML = '<div class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-shopping-cart fa-2x"></i></a><ul class="dropdown-menu dropdown-cart" role="menu">'+ productos +'<li class="divider"></li> <br> <center><button type="button" class="text-center" onclick="comprar()">Terminar compra</button></center></ul></div>'
                }
                else
                  document.getElementById('tag').innerHTML = '<a href="/signin">Sing in</a><a href="">/</a><a href="/login">Log in</a>'


                function eliminar(i) {
                  var lista = JSON.parse(localStorage.getItem('Usuario'))
                  lista.Carrio.splice(i, 1)
                  localStorage.setItem('Usuario', JSON.stringify(lista))
                  location.reload()
                }
              </script>           
              <input style="margin-left: 0.5em" class="form-control mr-sm-2" type="search" placeholder="Camaras, lentes, tripies" aria-label="Search">
                <a href=""><i class="fas fa-search"></i></a>   
            </form> 
        </nav>
            
        <!-- Navigation -->
        <ul class="nav nav-tabs justify-content-center" style="margin-top: 1em">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
             <li class="nav-item dropdown">
            </div>
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Camaras</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Productos/Camara">Camaras en venta</a>
              <a class="dropdown-item" href="/Productos/Lentes">Lentes</a>
              <a class="dropdown-item" href="/Productos/Tripies">Tripies</a>
            </div>
          <li class="nav-item">
            <a class="nav-link " href="/Productos/Accesorios" role="button" aria-haspopup="true" aria-expanded="false">Accesorios</a>
          </li>
          <div id="menuAdmin"></div>

          <script>
            if(localStorage.getItem('user') == 'admin'){
              document.getElementById('menuAdmin').innerHTML = '<li class="nav-item"><a class="nav-link" href="/admin">Administrador</a></li>'
            }
          </script>
        </ul>
<script>
  function logout(){
    var user = JSON.parse(localStorage.getItem('Usuario'))

    fetch("/admin/usuario/cart", {
      headers: {
        "Content-type": "application/json"
      },
      body: JSON.stringify(user),
      method: "POST"
    })


    localStorage.clear()
    location.href = "/"
  }

  function comprar(){
    var price = localStorage.getItem('Total')

    localStorage.removeItem('Total')
    var lista = JSON.parse(localStorage.getItem('Usuario'))
    lista.Carrio = []
    localStorage.setItem('Usuario', JSON.stringify(lista))
 
    var user = JSON.parse(localStorage.getItem('Usuario'))
    fetch("/admin/usuario/cart", {
      headers: {
        "Content-type": "application/json"
      },
      body: JSON.stringify(user),
      method: "POST"
    } );

    fetch("/pay/"+price, {
      method: "GET"
      })
    .then(function(response) {
    return response.json();
    })
    .then(function(myJson) {
      location.href = myJson.href
    });

  }
</script>
