<% include partials/header.ejs %>   
        <!-- Body -->
        <br>
        <br><br><br>
        <div id="titulos"><center><h2> Archivo no encnotrado </h2> </center></div>
         <br>


        <br><br><br><br><br><br>



        <!-- Footer -->
<% include partials/footer.ejs %>
