        <!-- Header  Navigation -->
<% include partials/header.ejs %>
        <!-- Body -->
        <br>
        <div id="titulos"><center><h2> Políticas de la empresa </h2> </center></div>
        <br>
        <div id="politicas">
            <br>
        <p id="poli">Envíos y entregas </p>
        <p id="politic">
            <ul>
                <li>Las tarifas de envío se basan en el volumen, cantidad y el peso de su artículo (s). </li>
                <li>Artículos de sobrepeso y/o demasiado grandes sólo pueden ser envío terrestre. </li>
                <li>El tiempo de entrega varía conforme la distancia, peso de los artículos, volumen y cantidad de los mismos. </li>
            </ul>
        <strong id="pedido">Cualquier pedido puede tener retraso en la entrega debido a los siguientes factores</strong>
        <br>
        <ul>
        <li>Debido a la acreditación en los pagos (Demora por el sistema de pagos). </li>
        <li>Fecha en la que se hizo la compra o zona de destino difícil donde se entregará el paquete. </li>
        </ul>
        <strong id="pedido">Observaciones adicionales</strong>
        <br>
        <ul>
        <li>El área de análisis mantendrá un protocolo de calidad, el cual será enviado a los diferentes proveedores para su cumplimiento, y con el cual se espera cumplir las expectativas del cliente o usuarios final.</li>
        <li>Si el producto presenta cualquier tipo de daño, podrá devolverlo para su revision, si detectamos que fue alterado por el comprador tendrá que pagar costos extra, de lo contrario, le mandaremos uno nuevo que cumpla con los lineamientos de calidad sin algun tipo de costo adicional. </li>
        </ul>


        </div>



        <!-- Footer -->
<% include partials/footer.ejs %>
